/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

/* main container */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 70px;
}

nav li {
    width: 100%;
}

.text-menu:hover {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}

/****** Infogroup (headline + filterbar + searchbar + infobar ***********/
.infogroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;
    box-sizing: border-box;
}

.infogroup-title h2 {
    font-size: 22px;
}

.infogroup-title h3 {
    font-size: 16px;
    font-weight: 400;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar i {
    background-color: var(--main-bg-color);
    padding: 28px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    color: black;
}

.formulaire {
    border-top: 1px #F2F2F2 solid;
    padding-top: 17px;
    border-bottom: 1px #F2F2F2 solid;
    padding-bottom: 17px;
}

input {
    font-size: 18px;
    border: 0px;
    width: 164px;
    padding: 0px 20px 0px 20px;
}

/* bouton "Rechercher" pour version desktop et tablette */
.searchbar button {
    font-size: 18px;
    font-weight: 700;
    color: #F2F2F2;
    background-color: var(--main-color);
    border: 1px;
    padding: 18px 15px 18px 15px;
    border-radius: 0px 15px 15px 0px;
}

/* image loupe pour version mobile */
#m-glass {
    font-size: 18px;
    font-weight: 700;
    color: #F2F2F2;
    background-color: var(--main-color);
    padding: 2px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 18px;
    border: 1px;
    display: none;
}

/****** Filterbar (Titre + 4 filtres) ***********/

.filterbar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
    box-sizing: border-box;
}

.filterbar h3 {
    font-size: 21px;
}

.filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filtre article {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px var(--main-bg-color) solid;
    padding: 0px 15px 0px 15px;
    gap: 15px;
}

.filtre h4 {
    margin: 15px 0 15px 0;
}

.filtre :hover {
    background-color: var(--filter-bg-color);
}

/****** Infobar (icone + texte) ***********/

.infobar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
    box-sizing: border-box;
}

.infobar i {
    border-radius: 25px;
    border: 2px var(--main-bg-color) solid;
    padding: 11px 10px 13px 10px;
}

.infobar h3 {
    font-size: 16px;
    font-weight: 400;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    /*padding: 30px;*/
    /*gap: 30px;*/
}

.hebergements-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /*flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/
    gap: 30px;
}

.hebergements-cards .card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.afficherplus-title  h2{
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title h2 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding: 30px;
    margin-top: 20px;
}

.activites-title h2 {
    font-size: 22px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.activites-cards .card {
    width: 300px;
    padding: 0 0 5px 0;
}

.activites-cards img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 430px;
}

.activites-cards .card-title {
    margin: 15px;
}

/****** footer ***********/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    /*margin-top: 20px;*/
    padding: 5px 20px 5px 20px;
}

footer div {
    display: flex;
    flex-direction: column;
    width: 33%;
}

footer .footer-subtitle {
    margin-bottom: 20px;
}

footer .footer-title {
    font-size: 18px;
    font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/**** Medium devices (tablets, less/equal than 1024px) ****/
@media (max-width: 1024px) {
    /* filterbar - Titre "Filtres" au dessus des boutons */
    .filterbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .filtre article {
        font-size: 16px;
    }

    /* hébergements et populaires cards en colonne */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    /* section hébergements en largeur totale */
    .hebergements {
        width: 100%;
    }

    /* section populaires en largeur totale */
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/***** Small devices (phones, less than 768px et more than 320px) *****/
@media (max-width: 767.98px) and (min-width: 320px) {
    /* réduction du padding droite & gauche du main container */
    .main-container {
        padding: 0;
    }

    /* menu sur 2 lignes */    
    nav {
        display: flex;
        flex-direction: column;
    }
    
    nav img {
        height: 20px;
        padding: 30px;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    nav ul li {
        width: 50%;
        text-align: center;
    }

    .text-menu {
        display: block;
        width: 100%;
        padding-bottom: 18px;
    }

    .text-menu:hover {
        padding-top: 0;
        padding-bottom: 16px;
        border-bottom: 2px var(--main-color) solid;
        border-top: 0;
        color: var(--main-color);
    }

    /* bouton search remplacé par icône m-glass */
    .searchbar button {
        display: none;
    }
    
    input {
        width: 160px;
    }

    #m-glass {
        display: block;
        margin-left: -20px;
    }

    /* réduction police des boutons de filtre */
    .filtre {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        /*width: 100%;             répartition des 2 filtres sur toute la largeur de l'écran mobile */ 
    }

    .filtre article {
        font-size: 14px;
        width: 110px;
        gap: 10px;
    }

    /* mise populaires avant hébergements */ 
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    /* modification format conteners populaires */
    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* modification format conteners hébergements */
    .hebergements-and-populaires .hebergements {
        background-color: white;
        /*border-radius: 0px;*/
        /*padding: 0px;*/
        box-sizing: border-box;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
/*        align-items: flex-start;*/
    }

    .hebergements-cards .card {
        /*width: 320px;*/
        width: 100%;
    }

    .activites-cards img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*height: 141px;*/
        height: 80%;
    }

    .activites {
        justify-content: center;
    }

    .activites-cards{
        display: flex;
    }

    .activites-cards .card {
        /*width: 320px;*/
    }

    /* populaires - format large, en colonne */
   .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards a {
        display: flex;
        justify-content: center;
        width: 320px;
        padding-left: 0;
    }

    .populaires-cards .card {
        width: 100%;
    }

    /* footer en colonne */
    footer {
        display: flex;
        flex-direction: column;
    }

    footer div {
        margin-bottom: 15px;
        width: 100%;
    }
}




